header {
    background-color: rgb(103, 103, 255);
    color:aliceblue;
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -3px -3px 10px 4px black;
}

.logo {
    font-size: xx-large;
    font-weight: 600;
}

.welcomeMsg {

}